{%extends "base.html"%}

{%block content%}

  <main>
        {%if success%}
    
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hello {{ name|upper }}</strong> Form Submittied
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {%endif%}

        <form action="/" method="POST">
          {% csrf_token %}
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" name="firstName" id="firstName" required>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="lastName" id="lastName" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>   
  </main>

  {% endblock %}