{%extends "index.html"%}

{%block content%}

<table class="table">
    <thead>
      <tr>
        <th class="id" scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
        {% for i in view %}

        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.firstName}}</td>
          <td>{{i.lastName}}</td>
          <td>
            <button type="button" class="btn btn-dark"><a href="{% url 'update_records' i.pk %}">Update</a></button>
          </td>
          <td>
            <button type="button" class="btn btn-danger"><a href="{% url 'delete_records' i.pk %}">Delete</a></button>
          </td>
          
        {% endfor %}
        <style>
          a{
            text-decoration: none;
            color: white;
          }
        </style>
        </tr>
    </tbody>
  </table>

{%endblock%}
